$FONT_FAMILY: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
/*  颜色配置  */
$BLUE: #409EFF;$SUCCESS: #67C23A;$WARNING: #E6A23C;$DANGER: #F56C6C;$INFO: #909399;
$ONE_FONT_COLOR: #303133;$TWO_FONT_COLOR: #606266;$THREE_FONT_COLOR: #909399;$FOUR_FONT_COLOR: #C0C4CC;
$ONE_BORDER_COLOR: #DCDFE6;$TWO_BORDER_COLOR: #E4E7ED;$THREE_BORDER_COLOR: #EBEEF5;$FOUR_BORDER_COLOR: #F2F6FC;
