html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.root {
    text-align: center;
    flex-grow: 1;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    min-width: 1200px;
}
.content {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 20px;
}
.content .left-box {
    width: 500px;
    border: 1px dashed #ccc;
    overflow: auto;
}
.content .right-box {
    border: 1px dashed #ccc;
    overflow: auto;
    flex-grow: 1;
}
.sm-title {
    border-bottom: 1px dashed #ddd;
}
.left-text {
    text-align: left;
    text-indent: 10px;
}
.left-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left-content-big {
    padding: 5px 10px;
    background: #e6f7ff;
    margin: 5px 10px;
}
.left-content-sm {
    padding: 5px 10px;
    background: #fffbe6;
    margin: 5px 10px;
}
.left-content-text {
    font-weight: bolder;
    padding: 5px 10px;
    background: #fff1f0;
    margin: 5px 10px;
}
.image {
    max-width: 800px;
}